<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 	
 	<mapper namespace="ClsMapper">

	
	<resultMap id="ClsSelectMap" type="cls">
	<result property="clNo" 			column="CLS_NO" 		jdbcType="NUMERIC" />
	<result property="userNo" 			column="USER_NO" 		jdbcType="NUMERIC" />
	<result property="clName" 			column="CLS_NAME" 		jdbcType="VARCHAR" />
	<association property="style" select="StyleMapper.getStyle10" column="CLS_NO" javaType="ArrayList"></association>
		
	</resultMap>
	<!-- SQL : INSERT -->
	
	 
	 <insert 	id="addCls" parameterType="cls" >
	 	INSERT
		INTO into_cls
		VALUES	 (cl_no.NEXTVAL,#{style.styleNo},#{wardrobe.cls_no})
	 </insert>
	 
	 <select id="getClsList" parameterType="int" resultMap="ClsSelectMap">
		select *  from MYCLOSET WHERE USER_NO=#{value}
	 </select>
	 
	 <delete id="deleteCls" parameterType="int">
	 	delete from into_cls where cls_no = #{clNO}
	 </delete>
	 
	 
	 
	 <!-- 
	 SQL : SELECT ONE
	 <select 	id="getStyle"	parameterType="int"	resultMap="StyleSelectMap">
		SELECT *
		FROM Style
		WHERE STYLE_NO = #{styleNo}
	 </select>
	 
	 SQL : UPDATE
	 <update	id="updateStyle"	parameterType="Style" >
	   	UPDATE STYLE
	   	<set>
	   	   STY_TITLE = #{styleTitle},
           STY_INFO1 = #{infomation1:VARCHAR},
           STY_INFO2 = #{infomation2:VARCHAR},
           STY_INFO3 = #{infomation3:VARCHAR},
           STY_INFO4 = #{infomation4:VARCHAR},
           STY_INFO5 = #{infomation5:VARCHAR},
           STY_HASHTAG = #{hashTagString:VARCHAR},
           STY_DESC = #{styleDesc:VARCHAR}
	   	</set>
	    WHERE style_no = #{styleNo}
	 </update>
	 
	 delete
	 <delete id="deleteStyle" parameterType="int">
	 	delete from style where style_no = #{styleNo}
	 </delete>
	 
		 
	SQL : SELECT LIST
	<select  id="getStyleList"  parameterType="search"	resultMap="StyleSelectMap">
	   select X.rnum, X.STYLE_NO , X.STY_TN_IMGPATH, X.phot_path, X.STY_TITLE, X.STY_HASHTAG, X.user_no, X.STY_REG_DATE
       from (
                select rownum as rnum, A.STYLE_NO, A.STY_TN_IMGPATH, A.phot_path, A.STY_TITLE, A.STY_HASHTAG, A.user_no, A.STY_REG_DATE
                from(
                        select STYLE_NO, STY_TN_IMGPATH, ui.phot_path, STY_TITLE, STY_HASHTAG, ui.user_no, STY_REG_DATE
                        from style s, user_info ui
                        where s.user_no = ui.user_no ) A
                where rownum &lt;= #{offSet} ) X
        where X.rnum <![CDATA[ >=]]> 1 AND X.sty_hashtag LIKE '%'||#{keyword:VARCHAR}||'%'
        order by X.STY_REG_DATE	DESC  
	 </select>  -->

	 	<!--  위 두번째 subQuery 의  
	 			WHERE ROWNUM &lt;= #{endRowNum} ) 는
	 			WHERE ROWNUM <= #{endRowNum} ) 의미이며..
	 			< 는 keyword 로 &lt; 를	사용.
	 			
	 			<![CDATA[  ~~~  ]]> 를 이용하여 아래와 같이 사용  할 수 있다.
	 			CDATA ==> Character Data 의 의미 Java 에서 \n 같은 특수문자 처리  

				WHERE ROWNUM <![CDATA[ <=]]> #{endRowNum} )
		-->
	 
</mapper>