
/*loginForm css*/
.modal-header, h4.abc, .close {
	background-color: #5cb85c;
	color: white !important;
	text-align: center;
	font-size: 30px;
}

.modal-footer {
	background-color: #f9f9f9;
}


/***sector2*****/
.frontLogo {
  position: absolute;
  width: 500px;
  height: 500px;
  bottom: 40px;
  right:3%;
}


/*******/

/* ICON STYLES - ICON FROM: http://fontastic.me/
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
	font-family: "untitled-font-1";
	src:
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot");
	src:
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot#iefix")
		format("embedded-opentype"),
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.woff")
		format("woff"),
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.ttf")
		format("truetype"),
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.svg#untitled-font-1")
		format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:after, [class*=" icon-"]:after {
	font-family: "untitled-font-1";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-up-open-big {
	display: inline-block;
}

.icon-up-open-big:after {
	content: "a";
	font-size: 2.5em;
	display: block;
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
	color: black;
	-webkit-transition: color .3s;
	transition: color .3s;
}

.icon-up-open-big:hover:after {
	color: white;
}

.scroll-icon {
	position: absolute;
	left: 50%;
	bottom: 30px;
	padding: 0 10px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.l-left {
	
}

.l-right {
	float: right;
}

.end {
	margin-top: 30px;
	font-size: 3em;
	font-weight: bold;
	opacity: 0;
	-webkit-transform: translateY(300px);
	transform: translateY(300px);
	-webkit-transition: opacity, -webkit-transform 1s;
	transition: opacity, -webkit-transform 1s;
	transition: opacity, transform 1s;
	transition: opacity, transform 1s, -webkit-transform 1s;
	-webkit-transition-delay: 1s;
	transition-delay: 1s;
}

/*MYFONT
--------------------------------------------------------------------------------------*/
.myButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff
		), color-stop(1, #f6f6f6));
	background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#f6f6f6', GradientType=0);
	background-color: #ffffff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	color: #F2AE72;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	font-opacity: 1;
	padding: 6px 76px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
	width: 100px;
}

.myButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6
		), color-stop(1, #ffffff));
	background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6',
		endColorstr='#ffffff', GradientType=0);
	background-color: #f6f6f6;
}
/* .myButton:active {
    position:absolute;
    top:1px;
} */
.bnt_1 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

.bnt_2 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
/* #content { position: absolute; top: 50%; height: 240px; margin-top: -120px; } */
/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#upperForm { /*문제 부분*/
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', Arial, sans-serif;
	text-transform: uppercase;
}

#emailBtn {
	
	text-transform: lowercase;
}

html {
	font-size: 62.5%;
}

body {
	color: black;
}

a {
	text-decoration: none;
	color: white;
}

ul, li {
	list-style-type: none;
}

/* NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.frontHeader {
	height: 70px;
	padding: 0 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	box-sizing: border-box;
}

#frontLogo {
	margin-top: 0px;
	line-height: 40px;
	height: 40px;
	display: block;
	padding: 0 10px;
	float: left;
}

.toggle-menu {
	width: 50px;
	height: 50px;
	display: inline-block;
	position: relative;
	top: 10px;
}

.toggle-menu i {
	position: absolute;
	display: block;
	height: 2px;
	background: white;
	width: 30px;
	left: 10px;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.toggle-menu i:nth-child(1) {
	top: 16px;
}

.toggle-menu i:nth-child(2) {
	top: 24px;
}

.toggle-menu i:nth-child(3) {
	top: 32px;
}

.open-menu i:nth-child(1) {
	top: 25px;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
	background: transparent;
}

.open-menu i:nth-child(3) {
	top: 25px;
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}

/* nav {
    height: 0;
    opacity: 0;
  box-sizing: border-box;
    background: rgba(0, 47, 77, .25);
    position: fixed;
    top: 70px;
    width: 100%;
  -webkit-transition: all 3s;
          transition: all 3s;
} */

/* .open-menu ~ nav {
    opacity: 1;
    padding: 80px 0;
    z-index: 15;
    height: calc(90vh - 70px);
} */
nav ul {
	padding: 0 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

nav li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

nav li a {
	font-size: 2em;
	display: block;
	padding: 30px;
	text-align: center;
	-webkit-transition: background .3s;
	transition: background .3s;
}

nav li:nth-child(odd) a, body.fp-viewing-fifthSection-1 #menu li:nth-child(5) a
	{
	background: #962D3E;
}

nav li:nth-child(even) a {
	background: #aa3346;
}

nav li:nth-child(odd) a:hover {
	background: #9e2f41;
}

nav li:nth-child(even) a:hover {
	background: #c53c52;
}

nav li.active a, body.fp-viewing-fifthSection-1 #menu li:last-child a {
	background: #453659;
}

/* SECTION STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section {
	text-align: center;
	/*background: url('https://unsplash.it/1910/1221?image=626') no-repeat center / cover;*/
}
h2.c {
	font-size: 3em;
	margin-bottom: 28px;
	color: white;
	margin-left: -29%;
	margin-right: auto;
	margin-top:-24px;
}

h2.y {
	font-size: 6em;
	margin-bottom: -3px;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

h2.a {
    text-transform: lowercase;
    font-size: 3em;
    margin-top: 35px;
    line-height: 48px;
    color: white;
    margin-left: 100px;
    text-align: left;
    height: 37%;
    margin-bottom: -13%;
}

h3 {
	font-weight: 300;
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

h3.a {
    margin-bottom: -432px;
    margin-top: -30px;
    width: 500px;
    font-size: 15px;
    margin-left: 100px;
    color: white;
    text-align: left;
    height: 9%;
}

h3.c {
	font-size: 3em;
    margin-bottom: 41px;
    color: white;
    margin-left: 7%;
    margin-right: 34%;
    margin-top: -5%;
    text-align: right
}
.sec2{
    margin: 0 0 10px;
    margin-left: 11%;
    margin-top: 10px;
    color: white;
    text-align: left;
}
img.a {
	margin-left: 49px;
    width: 106%;
}

img.b {
	margin-left: 100px;
	width: 500px;
}

h2.b {
	text-transform: lowercase;
	font-size: 4em;
	margin-top: 100px;
	line-height: 48px;
	color: white;
	width: 500px;
	margin-left: 100px;
	text-align: right;
}

h3.b {
	margin-bottom: -400px;
	margin-top: 15px;
	width: 500px;
	font-size: 15px;
	margin-right: 100px;
	color: white;
	text-align: right;
}

h4 {
	font-weight: 300;
	font-size: 15px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

/* SLIDENAV STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: white;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span,
	.fp-slidesNav ul li:hover a.active span {
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: transparent;
	box-sizing: border-box;
	border: 1px solid #24221F;
}

/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 767px) {
	nav ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	nav li {
		margin-top: 1px;
	}
	nav li a {
		font-size: 1.5em;
	}
	.scroll-icon {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	html {
		font-size: 50%;
	}
	.open-menu ~ nav {
		padding: 20px 0;
	}
	nav li a {
		padding: 3px;
	}
}

@media ( max-width : 1200px) {
	.container1 {
	}
	.colmiddle {
	    margin: auto;
	    width: 80%;
		position: relative;
		margin-top: 5%;
	}
}

@media ( max-width : 1600px) {
	.container1 {
	}
	.colmiddle {
	    margin: auto;
	    width: 80%;
		position: relative;
		margin-top: 5%;
	}
}
/* loginForm
---------------------------------------------------------------------------------------*/
body {
	padding-top: 90px;
}

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align: center;
}

.panel-login>.panel-heading a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #ddd;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.panel-login>.panel-heading a.active {
	color: #392daa;
}

.panel-login>.panel-heading hr {
	margin-top: 14px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	border-bottom: 1px solid #eee;
	/*
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
	*/
}

.panel-login input[type="text"], .panel-login input[type="email"],
	.panel-login input[type="password"] {
	height: 40px;
	border: 1px solid #eee;
	background: #eee;
	box-shadow: none;
	font-size: 14px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.panel-login input[type="email"]:FOCUS,
.panel-login input[type="text"]:FOCUS ,
.panel-login input[type="password"]:FOCUS ,
.panel-login input[type="email"]:ACTIVE,
.panel-login input[type="text"]:ACTIVE,
.panel-login input[type="password"]:ACTIVE {
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: #fff;
	border-color: #ccc;
}

.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 10px 0;
	text-transform: uppercase;
}

.btn-login:hover, .btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
}

.forgot-password {
	text-decoration: underline;
	color: #888;
}

.forgot-password:hover, .forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	text-transform: uppercase;
	border-color: #1CB94A;
}

.btn-register:hover, .btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

.btnfirst {
	padding: 10px 150px;
	font-size: 30px;
	line-height: 1.3333333;
	border-radius: 6px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	display: inline-block;
	padding: 6px 70px;
	margin-bottom: 0;
	font-size: 21px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
/****페이스북 로그인버튼***/
.loginBtn {
	display: block;
	margin: auto;
    box-sizing: border-box;
    position: relative;
    padding: 3px 23px 3px 57px;
    border: none;
    text-align: center;
    line-height: 35px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 15px;
    color: #FFF;
    margin-top: -10px;
}

.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 9px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}
/****/