<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommentMapper">

	<resultMap id="commentSelectMap" type="comment">
		<result property="cmtNo" column="cmt_no" jdbcType="NUMERIC" />
		<result property="styleNo" column="style_no" jdbcType="NUMERIC" />
		<result property="userNo" column="user_no" jdbcType="NUMERIC" />
		<result property="nick" column="nick" jdbcType="VARCHAR" />
		<result property="content" column="content" jdbcType="VARCHAR" />
		<result property="hrs" column="hrs" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="addComment" parameterType="comment" keyProperty="cmtNo" keyColumn="cmt_no" useGeneratedKeys="true"> 
		INSERT
		INTO cmt_info ( cmt_no , style_no , nick, user_no , content , hrs)
		VALUES (COMMENT_SEQ.NEXTVAL, #{styleNo} , #{nick}, #{userNo} , #{content}
		,TO_CHAR(SYSDATE,'YY.MM.DD / HH24:MI'))
	</insert>

	<select id="getCommentList" parameterType="int" resultMap="commentSelectMap">
	SELECT
	cmt_no, style_no, user_no, nick, content, hrs
	FROM cmt_info
	WHERE
	style_no = #{value}
	ORDER BY CMT_NO
	</select>
	
	
	<select id="getComment" parameterType="int" resultMap="commentSelectMap" >
	SELECT *
	FROM cmt_info
	WHERE
	cmt_no = #{value}
	
	</select>
	
	
	<delete id="deleteComment" parameterType="int">
	 DELETE
	 FROM cmt_info
	 WHERE
	 cmt_no = #{value}
	</delete>
	
	


</mapper>